/* line 2, ../compile/sass/all.scss */
.nav {
  background: #00;
}
/* line 5, ../compile/sass/all.scss */
.nav li {
  float: left;
}
/* line 9, ../compile/sass/all.scss */
.nav a {
  color: #fff;
}

/* line 19, ../compile/sass/all.scss */
.nav ul li a span {
  color: white;
}

/* line 31, ../compile/sass/all.scss */
a {
  color: red;
}
/* line 34, ../compile/sass/all.scss */
a:hover {
  color: blue;
  text-decoration: underline;
}

/* line 41, ../compile/sass/all.scss */
img {
  display: block;
}
/* line 44, ../compile/sass/all.scss */
.lte7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 55, ../compile/sass/all.scss */
a {
  color: #ce4dd6;
}

/* line 62, ../compile/sass/all.scss */
.bordered-top {
  border-top: 1px solid green;
}

/* line 72, ../compile/sass/all.scss */
.main {
  width: 600px;
}

/* line 77, ../compile/sass/all.scss */
.box {
  background: rgba(0, 0, 0, 0.5);
}

/* line 82, ../compile/sass/all.scss */
a {
  color: #000;
}
/* line 85, ../compile/sass/all.scss */
a:hover {
  color: #020202;
}

/* line 101, ../compile/sass/all.scss */
.call-out {
  background: green;
  border: 1px solid red;
  padding: 20px;
  width: 100%;
  color: yellow;
}

/* line 106, ../compile/sass/all.scss */
.special-box {
  background: green;
  border: 1px solid red;
  padding: 20px;
  width: 100%;
}

/* line 118, ../compile/sass/all.scss */
.section-1 {
  background: black;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

/* line 122, ../compile/sass/all.scss */
.section-2 {
  background: #cecece;
  border-radius: 5px;
  color: black;
  padding: 20px;
}

/* line 146, ../compile/sass/all.scss */
.section {
  overflow: hidden;
  position: relative;
}
/* line 131, ../compile/sass/all.scss */
.section h2 {
  font-size: 36px;
}
/* line 135, ../compile/sass/all.scss */
.section:before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  content: "";
  height: 20px;
  left: 10px;
  position: absolute;
  right: 10px;
  top: -20px;
}

/* line 163, ../compile/sass/all.scss */
.some-thing {
  width: 800px;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 163, ../compile/sass/all.scss */
  .some-thing {
    width: 100%;
  }
}

/* line 175, ../compile/sass/all.scss */
.box-highlight, .highlight, .another-highlight {
  background: green;
  border: 1px solid red;
  padding: 20px;
  width: 100%;
}

/* line 182, ../compile/sass/all.scss */
.highlight {
  color: yellow;
}

/* line 192, ../compile/sass/all.scss */
.heading, .footnote {
  color: #666;
  font-family: Georgia;
  font-style: italic;
}

/* line 213, ../compile/sass/all.scss */
.span-1 {
  width: 100px;
}

/* line 213, ../compile/sass/all.scss */
.span-2 {
  width: 220px;
}

/* line 213, ../compile/sass/all.scss */
.span-3 {
  width: 340px;
}

/* line 213, ../compile/sass/all.scss */
.span-4 {
  width: 460px;
}

/* line 213, ../compile/sass/all.scss */
.span-5 {
  width: 580px;
}

/* line 220, ../compile/sass/all.scss */
.twitter {
  background-image: url(/images/icons/twitter.png);
}

/* line 220, ../compile/sass/all.scss */
.facebook {
  background-image: url(/images/icons/facebook.png);
}

/* line 220, ../compile/sass/all.scss */
.linkedin {
  background-image: url(/images/icons/linkedin.png);
}

/* line 220, ../compile/sass/all.scss */
.flickr {
  background-image: url(/images/icons/flickr.png);
}

/* line 1, ../compile/sass/_forms.scss */
input {
  background: #dedede;
  border: 1px solid #000;
}

/* line 1, ../compile/sass/_buttons.scss */
button {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* line 238, ../compile/sass/all.scss */
.rounded-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 242, ../compile/sass/all.scss */
.gradient {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
}

/* line 66, icons/*.png */
.icons-sprite, .twitter, .facebook, .linkedin, .flickr {
  background: url('/images/icons-s589c2b097f.png') no-repeat;
}

/* line 254, ../compile/sass/all.scss */
.twitter {
  background-position: 0 -75px;
}

/* line 254, ../compile/sass/all.scss */
.facebook {
  background-position: 0 -223px;
}

/* line 254, ../compile/sass/all.scss */
.linkedin {
  background-position: 0 0;
}

/* line 254, ../compile/sass/all.scss */
.flickr {
  background-position: 0 -149px;
}
